<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css"/>
  <title>Failure</title>
  <script defer >
    if (Notification.permission === 'denied') {
      Notification.requestPermission()
      .then(permission => spawnNotification("yollooo", "image/Connex-Logo_2019.png", permission, 'helloworld', permission)
      )
  const spawnNotification = (body, icon, tag, title, permission) => {
  const options = {
      body: body,
      icon: icon,
      tag: tag
  }
  if (Notification.permission == 'granted') {const notification = new Notification(title, options)}
  return "sucks to be you";
  
}

notification.addEventListener('notificationclick', function(event) {
  console.log('On notification click: ', event.notification.tag);
  event.notification.close();

  // This looks to see if the current is already open and
  // focuses if it is
  event.waitUntil(clients.matchAll({
    type: "window"
  }).then(function(clientList) {
    for (const client of clientList) {
      if (client.url == '/' && 'focus' in client)
        return client.focus();
    }
    if (clients.openWindow)
      return clients.openWindow('/');
  }));
});
  </script>
</head>
<body>
  <section class="hero is-medium is-success ">
    <div class="hero-body">
      <p class="title">
        Connex Credit Activation Portal
      </p>
     <p class="subtitle">
        bringing you credit cards at 🌩️blazingly🌩️ fast speeds
      </p> 
    </div>
  </section>
  <section class="section is-small has-background-grey-dark card">
    <img class="card-image" src="image/Connex-Logo_2019.png"/>
    <p class="is-family-monospace is-size-1 has-text-centered card-content"><%- locals.status -%></p>
  </section>
  <section class="section field">
    <p class="">Unfortunately your card: <%- locals.cardnumber -%> is not valid!</p>
    <div class="control box "><p class="title has-text-centered">Server Response Card</p> 
    <p class="has-text-centered"><%- locals.responsecode -%></p>
    <p class="has-text-centered is-uppercase"><%- locals.message -%></p>
    </div>
    <p class="">you can't go connexing all aroung the world!</p>
    <img class=""/>
  </section>
  <section class="">
    <a class="button is-success" href="/">Try Again</a>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Connex Credit Activation Portal</strong> by <a href="https://jgthms.com">Diogenes of Toronto</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
      </p>
    </div>
  </footer>
</body>
</html>