<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Failure</title>
</head>
<body>
  <section class="">
    <img class=""/>
    <p class="">Failure</p>
    <img class=""/>
  </section>
  <section class="">
    <p class="">Unfortunately your card: <%- locals.cardnumber -%> is not valid!</p>
    <p class="">you can't go connexing all aroung the world!</p>
    <img class=""/>
  </section>
  <section class="">
    <button class="">Try Again</button>
  </section>
</body>
</html>