<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" action="/activation">
    <input type="number" name="cardnumber">
    <input type="number" name="csv">
    <input type="number" name="expirydata">
    <input type="tel" name="phonenumber">
    <input type="submit" value="Activate">
  </form>
</body>
</html>